body{
    font-family: 'Roboto', sans-serif;
}

.presupuesto{
    background: url('../img/bg.jpg');
    background-size: cover;
}

input{
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 0.5rem;
}
.span100{
    font-size: 1.23rem;
    color: rgb(0, 160, 218);
}
.form-container{
    background-color: rgb(0, 0, 0);
}
.btn-submit{
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    transition: 0.5s ease-out;
}
.btn-submit:hover{
    color: greenyellow;
    transform: scale(1.2);
}
i:active{
    color: greenyellow;
}

/* CONTENEDORES DE LOS MOVIMIENTOS */

.movimientos span{
    color: rgb(95, 95, 95);
}

/* MOVIMIENTOS INGRESOS */
.ingresos-container h4{
    color: rgb(0, 171, 171);
}

.ingresos-container .valor-movimiento{
    color: rgb(0, 171, 171);
}
.ingresos-detalle{
    cursor: pointer;
    background-color: rgba(147, 255, 237, 0.461);
    transition: 0.6s ease-out;
}

.borrar{
    padding: 0.2rem;
    font-size: 1.5rem;
    border: none;
    color: rgb(0, 116, 183);
}


/* MOVIMIENTOS EGRESOS */
.egresos-container h4{
    color: rgb(171, 0, 23);
}

.egresos-container .valor-movimiento{
    color: rgb(255, 5, 5);
}
.egresos-detalle{
    cursor: pointer;
    background-color: rgba(255, 147, 147, 0.461);
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}